$z-index-notification: 2;
$z-index-notification-backdrop: 1;
$z-index-top-nav: 4;
$z-index-side-nav: 3;
$z-index-nav-bar-backdrop: 2;
$backdrop-opacity: 0.48;
$color-blue: #0079BF;
$color-petronas: #00a19c;
$color-petronas-dark: #07756c;
$color-petronas-red: #D81F2A;
$color-petronas-gold: #EFAA23;
$color-petronas-purple: #58478D;
$color-petronas-dark-purple: #432C5F;
$color-petronas-violet: #615E9B;
$color-petronas-light-blue: #93BFEB;
$color-petronas-gray: rgb(163, 163, 163);
$color-petronas-brown: rgb(158, 138, 99);
$color-petronas-pink: rgb(255, 102, 204);
$breakpoint-sm: 48em;
$breakpoint-md: 64em;
$breakpoint-lg: 75em;
$app-sidebar-width: 48px;
$app-header-height: 48px;
$scrollbar-width: 9px;
$breakpoint-height-lg: 1080px;
$base-font-size: 11px;

$font-size-breadcumb: 10px;
$font-size-body: 14px;
$font-size-header: 16px;
$font-size-subtitle: 20px;
$font-size-title: 24px;

$font-weight-title: 700;
$font-weight-main-title: 900;