$dark-blue: #3463ad;
$light-blue: #4f8be8;
$light-grey: #f7f7f7;
$grey: #e0e0e0;
$dark-grey: #b5b5b5;
$dark-red: #e62012;
$white-smoke: #F2F2F2;
$emerald-green: #00a19c;
$solid-white: #FFFFFF;

$color-nav-bg: #3d3c38;
$color-top-bg: #f8f8f8;
$color-action-icon: #7c7c7c;