<table>
  <tr *ngFor="let row of cells">
    <td
      *ngFor="let cell of row"
      (click)="$event.stopPropagation(); $event.preventDefault(); onClick($event, cell)"
      (mousedown)="$event.stopPropagation(); $event.preventDefault(); mouseDown($event, cell)"
      (mouseup)="$event.stopPropagation(); $event.preventDefault(); mouseUp($event, cell)"
      (contextmenu) = "flag(cell); $event.preventDefault();"
      class="cell"
      [ngClass]="{focus: cell.focus == true}"
    >
      <cell-component [cell]="cell"></cell-component>
    </td>
  </tr>
</table>