/* You can add global styles to this file, and also import other style files */
@import '../src/styles/utilities/variables';
@import '../src/styles/utilities/variables.colors';
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $dark-grey;
    //background-image: url("../src/assets/images/background.jpg");
    //background-repeat: repeat;
    //background-size: 170px 100px;
}
